## Part I. Link to mysql with python

#### Install MySQL driver for python

In [1]:
!pip install vertica-python==1.2.0 sqlalchemy-vertica-python==0.6.3 pymysql==1.0.2 keyring==23.4.1 keyrings.cryptfile==1.3.8

Looking in indexes: https://artifactory.taboolasyndication.com/artifactory/api/pypi/python-public/simple
Looking in links: https://artifactory.taboolasyndication.com/artifactory/generic/topic-disco/whl
Requirement already satisfied: vertica-python==1.2.0 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: sqlalchemy-vertica-python==0.6.3 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (0.6.3)
Requirement already satisfied: pymysql==1.0.2 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (1.0.2)
Requirement already satisfied: keyring==23.4.1 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (23.4.1)
Requirement already satisfied: keyrings.cryptfile==1.3.8 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (1.3.8)
Requirement already satisfied: python-dateutil>=1.5 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from vertica-python==1.2.0) (2.8.2)
Requirement already satisfied: six>=1.10.0 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from vertica-python==1.2.0) (1.16.0)
Requirement already satisfied: importlib-metadata>=3.6 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from keyring==23.4.1) (6.0.0)
Requirement already satisfied: SecretStorage>=3.2 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from keyring==23.4.1) (3.3.3)
Requirement already satisfied: jeepney>=0.4.2 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from keyring==23.4.1) (0.8.0)
Requirement already satisfied: argon2-cffi in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from keyrings.cryptfile==1.3.8) (23.1.0)
Requirement already satisfied: pycryptodome in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from keyrings.cryptfile==1.3.8) (3.20.0)
Requirement already satisfied: zipp>=0.5 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from importlib-metadata>=3.6->keyring==23.4.1) (3.11.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from importlib-metadata>=3.6->keyring==23.4.1) (4.4.0)
Requirement already satisfied: cryptography>=2.0 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from SecretStorage>=3.2->keyring==23.4.1) (42.0.5)
Requirement already satisfied: argon2-cffi-bindings in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from argon2-cffi->keyrings.cryptfile==1.3.8) (21.2.0)
Requirement already satisfied: cffi>=1.12 in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from cryptography>=2.0->SecretStorage>=3.2->keyring==23.4.1) (1.15.1)
Requirement already satisfied: pycparser in /opt/topic_discovery/.venv/lib/python3.7/site-packages (from cffi>=1.12->cryptography>=2.0->SecretStorage>=3.2->keyring==23.4.1) (2.21)
DEPRECATION: tensorflow-serving-api 2.2.0 has a non-standard dependency specifier grpcio>=1.0<2. pip 24.1 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of tensorflow-serving-api or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [2]:
import jupytertoolkit.common.utils as utils
connection = utils.get_mysql_connection()

password for user allen.wu: ·········

#### Set the sql query string

In [3]:
sql = '''
SELECT distinct v.publisher_id FROM trc.videos v WHERE v.title_language = 'hin'
'''

#### Fetch the data with pandas df connection api
Please be aware of the returned data size and computation complexity of the query.

In [ ]:
import pandas as pd

df = pd.read_sql(sql, connection)

#### Inspect the returned data

In [4]:
df.head()

,id,item_id,visible,title,page_url,page_mobile_url,thumbnail_url,description,price,discount_price,...,unit_pricing_measure,unit_pricing_base_measure,additional_properties,exist_in_last_crawl,update_time,manually_blocked_reason,google_category_id,advertiser_category_id,non_redirected_page_url,item_name_from_url
0,18803,58744,0,סניקרס קנבס Chuck Taylor OX / נשים,https://www.terminalx.com/catalog/product/view...,None,https://www.terminalx.com/pub/media/catalog/pr...,נעלי סניקרס CONVERSE אייקוניות מדגם Chuck Tayl...,299.9,209.93,...,None,None,custom_label_4=2018-04-15&&condition=new&&size...,0,2024-05-01 11:39:26,0,1604,1418609,None,None
1,18943,87392,1,צללית EYE SHADOW,https://www.terminalx.com/catalog/product/view...,None,https://www.terminalx.com/pub/media/catalog/pr...,צללית בעלת פיגמנט חזק.,99.0,74.25,...,None,None,custom_label_4=2019-10-17&&condition=new&&size...,1,2024-04-30 23:39:22,0,1604,4789271,None,None
2,18944,87394,1,צללית עיניים,https://www.terminalx.com/catalog/product/view...,None,https://www.terminalx.com/pub/media/catalog/pr...,צללית בעלת פיגמנט חזק.,99.0,74.25,...,None,None,custom_label_4=2019-10-17&&condition=new&&size...,1,2024-04-30 23:39:22,0,1604,4789271,None,None
3,18947,87404,0,ליפסטיק Satin,https://www.terminalx.com/catalog/product/view...,None,https://www.terminalx.com/pub/media/catalog/pr...,"ליפסטיק קרמי המציע מגע רך במיוחד, כיסוי בינוני...",110.0,82.50,...,None,None,condition=new&&size=3GR&&shipping=IL:::19.9 IL...,0,2024-05-01 23:39:25,0,1604,4789271,None,None
4,18958,87468,1,שפתון Pop Lip Color,https://www.terminalx.com/catalog/product/view...,None,https://www.terminalx.com/pub/media/catalog/pr...,שפתון עמיד בעל פורמולה עשירה אך קלילה המשלבת ג...,119.0,83.30,...,None,None,condition=new&&size=3.9GR&&shipping=IL:::19.9 ...,1,2024-04-30 23:39:22,0,1604,4789271,None,None

Happy data wrangling!

## PartII. Link to Vertical with python

#### Create conneciton object

In [5]:
import jupytertoolkit.common.utils as utils
vertica_conn = utils.get_vertica_connection()

In [6]:
import jupytertoolkit.common.utils as utils

#### Set the sql query string

In [7]:
import pandas.io.sql as psql
import time

query = "SELECT distinct v.publisher_id FROM trc.videos v WHERE v.title_language = 'hin'"

In [8]:
%time
from datetime import timedelta
start_time = time.monotonic()
df = psql.read_sql(query, con=vertica_conn)
end_time = time.monotonic()
print(timedelta(seconds=end_time - start_time))

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 4.53 µs
0:00:09.858003

#### Fetch data with vertical-python api

In [9]:
df

      publisher_id
0          1005095
1          1015685
2          1025638
3          1051737
4          1052991
...            ...
3254       1631557
3255       1637456
3256       1681819
3257       1695950
3258       1711881

[3259 rows x 1 columns]

Happy data massaging!